---
export const prerender = false;
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import AliceIntro from '@/components/AliceIntro.astro';
import AliceStats, { createProps as createStatsProps } from '@/components/AliceStats';
import ErrorBoundary from '@/components/ErrorBoundary';
import ErrorDisplay from '@/components/ErrorDisplay';
import AliceHero from '@/components/AliceHero.astro';
import AliceHub from '@/components/AliceHub/index.svelte';
import ErrorBoundarySvelte from '@/components/ErrorBoundary.svelte';
import ErrorDisplaySvelte from '@/components/ErrorDisplay.svelte';

import { type AliceStatsCardContent, type CountyStats, type FmtdChartData, type FmtdChartDataRecord, type HouseholdSurvivalBudgetCategories } from '@/types/aliceStats';

import type { UserGeo } from '@/types/alice';
import getPageContent from '@/lib/API';
import { getDefaultProps, onError } from '@/lib/error';
import type { AlicePageQueryResponse } from '@/types';
import type { AliceStatsFieldsContent, RootQueryToAliceStatsConnection } from '@/types/__generated__/types';
import { formatCountyStatsForChart, getAllCountyNames } from '@/config/aliceStats';

export enum CategoryContainerDisplayOptions {
	hidden = 'hidden',
	visible = '',
}

const country = Astro.request.headers.get('x-user-country') || 'unknown';
const city = Astro.request.headers.get('x-user-city') || 'unknown';
const region = Astro.request.headers.get('x-user-region') || 'unknown';
const latitude = parseFloat(Astro.request.headers.get('x-user-lat') || '46.5440');
const longitude = parseFloat(Astro.request.headers.get('x-user-lng') || '-87.3994');

const geoData: UserGeo = {
	success: country !== 'unknown',
	latitude,
	longitude,
	country,
	city,
	region,
	fallback:
		country === 'unknown'
			? {
					latitude: 46.544, // Downtown Marquette as fallback
					longitude: -87.3994,
					country: 'US',
				}
			: undefined,
};

const path = Astro.url.pathname;
const queryResponse = await getPageContent(path);
if (!queryResponse) {
	onError('No data returned from the server home page query', Astro);
}

const pageContent: AlicePageQueryResponse = queryResponse;

if (!pageContent) {
	onError('No data returned from the server home page query', Astro);
}

console.log('pageContent: ', pageContent);

interface Props {
	countyNames: string[];
	statsByCounty: FmtdChartDataRecord;
	content: AliceStatsCardContent;
}

const aliceStatsProps = createStatsProps(pageContent.allAliceStats);
---

<DefaultLayout title='ALICE'>
	<main class='max-w-[1800px]'>
		<AliceHero />
		<AliceIntro />
		<ErrorBoundary client:load fallback={ErrorDisplay}>
			<AliceStats {...aliceStatsProps} client:visible />
		</ErrorBoundary>
		<ErrorBoundarySvelte client:load fallback={ErrorDisplaySvelte}>
			<AliceHub client:only='svelte' userGeoData={geoData} />
		</ErrorBoundarySvelte>
	</main>
</DefaultLayout>
