---

---

<div
	class='prose flex flex-col items-center lg:grid grid-cols-2 lg:gap-4 mx-auto my-8 w-full max-w-[80%] prose-h2:text-2xl prose-h2:my-4 prose-h3:text-lg
    prose-p:w-full
    prose-p:text-md
    prose-p:m-0
    prose-li:font-body prose-li:text-black prose-li:font-semibold prose-li:text-md'>
	<slot />
</div>
