---

---

<div
	class='prose grid grid-cols-1 gap-2 mx-auto my-8 w-full max-w-[80%] prose-h2:text-xl lg:prose-h2:text-2xl prose-h2:mt-4 prose-h2:my-0 prose-h2:text-primary-blue-2 prose-h3:text-lg
    lg:prose-p:w-[80%]
    prose-p:text-md
    prose-p:m-0
    prose-li:font-body prose-li:text-black
    prose-li:w-3/4 prose-li:font-semibold prose-li:text-md'>
	<slot />
</div>
