---





---

<main>
  <!-- Hero -->
  <!-- Image of print left, explanation right -->
  <!-- Proof of authenticity - left: text explaining, right: <ul> of popover triggers that display document when clicked, allows for user download if needed -->
  <!-- Explanation of how to purchase raffle ticket -->

</main>
