---
import Button from './ui/Button.astro';

export interface Props {
  className?: string;
  size: 'sm' | 'lg' | 'xl' | 'icon';
  text?: string;
  href?: string;
}

const { className, size, text = 'DONATE', href } = Astro.props;
---

<Button variant='donate' {href} {size} class:list={['cursor-pointer', className]}>{text}</Button>
