---
export const prerender = false;

import getPageContent from '@/lib/API';

// component imports
import Layout from '@/layouts/DefaultLayout.astro';

import FourPillarsHero, {
  type Props as HeroProps,
  Pillar,
  createProps as createHeroProps,
} from '@/components/FourPillarsHero.astro';
import HowToContribute, {
  type Props as HowToContributeProps,
  createProps as createHowToContributeProps,
} from '@/components/HowToContribute.astro';
import FinancialSecurityAccordion from '@/components/FinancialSecurityAccordion.svelte';
import type { FinancialSecurityPageQueryResponse } from '@/types';
import AliceReport, { createProps as createAliceReportProps } from '@/components/AliceReport.astro';
import { onError } from '@/lib/error';
import VitaTaxPrep, { createProps as createVitaProps } from '@/components/VitaTaxPrep.astro';

if (import.meta.env.PROD) {
  Astro.response.headers.set(
    'Cache-Control',
    `public, max-age=${60 * 5}, s-maxage=${60 * 60 * 2}, stale-while-revalidate=${60 * 60}`,
  );
  Astro.response.headers.set('Cache-Tag', 'path:/our-impact/financial-security');
  Astro.response.headers.set('Netlify-Cache-Tag', 'path:/our-impact/financial-security');
}

const path = Astro.url.pathname;
const pageName = Pillar.FINANCIAL_SECURITY;

const queryResponse = await getPageContent(path);

const pageContent: FinancialSecurityPageQueryResponse = queryResponse;

if (!pageContent) {
  onError('No data returned from the server financial security page query', Astro);
}

const heroContent = pageContent?.fourPillarsHeroComponents;

const heroProps: HeroProps = createHeroProps(heroContent, pageName);

const howToContributeContent = pageContent?.howToContributeComponents;

const vitaTaxContent = pageContent?.vitaTaxPreps;
const vitaTaxProps = createVitaProps(vitaTaxContent);

const howToContributeProps: HowToContributeProps = createHowToContributeProps(howToContributeContent);
const aliceReportProps = createAliceReportProps(pageContent);
---

<Layout title={'Financial Security | Untied Way Marquette County'}>
  <main id='main-content'>
    <h2 class='sr-only'>Financial Security Programs</h2>

    <section aria-labelledby='hero-section'>
      <h2 id='hero-section' class='sr-only'>Welcome</h2>
      <FourPillarsHero {...heroProps} />
    </section>

    <section aria-labelledby='vita-section'>
      <h2 id='vita-section' class='sr-only'>VITA Tax Preparation</h2>
      <VitaTaxPrep {...vitaTaxProps} />
    </section>

    <section aria-labelledby='alice-section'>
      <h2 id='alice-section' class='sr-only'>ALICE Report</h2>
      <AliceReport {...aliceReportProps} />
    </section>

    <section aria-labelledby='financial-section'>
      <h2 id='financial-section' class='sr-only'>Financial Security Resources</h2>
      <FinancialSecurityAccordion client:visible />
    </section>

    <section aria-labelledby='contribute-section'>
      <h2 id='contribute-section' class='sr-only'>How To Contribute</h2>
      <HowToContribute {...howToContributeProps} />
    </section>
  </main>
</Layout>
